html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    cursor: default;
    user-select: none;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

#animation-field {
    position: relative;
    height: 100vh;
    width: 60vw;
}

#right-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
}

#market-eq-chart {
    height: 50%;
    width: 100%;
}

/*  */
.tab-container {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 25px;
}

.tabs {
    margin: 0;
    line-height: 25px;
    max-height: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #444;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.tab.active {
    z-index: 2;
    background: #fefefe;
    color: #000;
}

.tab.active:before {
    border-color: transparent #fefefe transparent transparent;
}

.tab.active:after {
    border-color: transparent transparent transparent #fefefe;
}

.tab {
    float: right;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 30px 0 25px;
    height: 170px;
    background: #efefef;
    position: relative;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
    max-width: 200px;
}

.tab:before,
.tab:after {
    content: '';
    background: transparent;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border-width: 10px;
    top: 5px;
    border-style: solid;
    position: absolute;
}

.tab:before {
    border-color: transparent #efefef transparent transparent;
    transform: rotate(48deg);
    left: -20px;
}

.tab:after {
    border-color: transparent transparent transparent #efefef;
    transform: rotate(-48deg);
    right: -20px;
}

.tab>span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

/*  */
#surplus-chart {
    width: 100%;
    height: 25%;
    display: none;
}

#surplus-chart.active {
    display: block;
}

#demand-supply-chart {
    width: 100%;
    height: 25%;
    display: none;
}

#demand-supply-chart.active {
    display: block;
}

#control-bar {
    padding: 10px 0 10px 8%;
    display: flex;
    height: 25%;
}

#parameter-field {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#parameter-field>div {
    display: flex;
    max-width: 100%;
    padding: 5px 10px;
}

#parameter-field>div>div {
    width: 180px;
}

#parameter-field>div>input {
    width: 40px;
}

#btn-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100%;
}

#start-btn,
#reset-btn {
    width: 80px;
    text-align: center;
    background-color: #000;
    border-radius: 5px;
    border-style: none;
    padding: 8px 0;
    margin: 10px auto;
    color: #FFF;
}

#start-btn:hover,
#reset-btn:hover {
    background-color: #444;
    cursor: pointer;
}

#start-btn:active,
#reset-btn:active {
    background-color: #000;
}

#start-btn:disabled {
    background-color: #aaa;
}

#start-btn:disabled:hover {
    cursor: default;
}

.node {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}